    </div><!-- /.o-page__main -->

    <footer class="o-page__footer c-footer c-line-board">

        <canvas class="c-line-board__canvas c-footer__canvas js-footer-canvas"></canvas>

        <div class="o-container">

            <div class="o-on-top">

                <p>Need to improve your web presence or an employer looking to hire?<br>
                    <a href="mailto:{{ site.email }}">Please get in touch</a>.</p>

                <p class="u-color-grey"><small>&copy; Andrew Hipp {{ 'now' | date: "%Y" }}</small></p>

            </div>

        </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>

<div><!-- /.o-page -->
