<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Andrew Hipp - Front End Developer - Redlands, CA</title>

  <link href="assets/images/site/favicon.ico" rel="shortcut icon">
  <link href="assets/images/site/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
  <header class="c-header">
    <div class="o-container">

      <div class="c-title">

        <h1><a href="/" class="u-sr-only">Andrew Hipp</a></h1>

        <h2><a href="http://www.linkedin.com/pub/andrew-hipp/32/457/254/" target="_blank"><i class="icon linkedin">Linkedin</i> Andrew Hipp</a></h2>

        <ul class="contact">
          <li><span title="Cell Phone">(530) 903-0280</span></li>
          <li><a href="mailto:andrewehipp@gmail.com?subject=Portfolio Lead" target="_blank">andrewehipp@gmail.com</a></li>
        </ul>

      </div>

    </div>
  </header>
