/*------------------------------------*    #BORDER BOX
\*------------------------------------*/
/**
 * Apply global border box.
 */
*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/*------------------------------------*    #CUSTOM FONTS
\*------------------------------------*/
/**
 * List custom fonts
 */
/*------------------------------------*    #PAGE
\*------------------------------------*/
/**
 * Body
 */
html {
  background: #fff;
  color: #000;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*------------------------------------*    #TYPOGRAPY
\*------------------------------------*/
/**
 * Headings
 *
 * In most cases you should avoid styling a specific heading type to have
 * custom distinct styles that would apply to all headings of that type.
 * Instead create a new component like c-heading or c-title. This may not
 * be the case when a CMS needs default headings to appear a specific way.
 */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  font-size: 1.2rem;
  line-height: 1.5; }

/**
 * Paragraphs
 */
p {
  margin: 0 0 20px; }

/**
 * Lists
 */
ul,
ol,
dl {
  margin: 0 0 20px; }

/**
 * Link Styles
 */
a {
  color: #337ab7;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: underline; }

/**
 * Horizontal Rule
 */
hr {
  margin: 0 0 20px;
  border: solid #bfbfbf;
  border-width: 0 0 1px; }

/*------------------------------------*    #IMAGES
\*------------------------------------*/
/**
 * [1] remove spacing below inline images.
 */
img {
  vertical-align: middle;
  margin: 0 0 20px; }

/**
 * Figure
 */
figure {
  margin: 0 0 20px; }

figcaption {
  font-size: 0.85714em;
  font-style: italic; }

/*------------------------------------*    #FORMS
\*------------------------------------*/
input,
textarea,
select {
  border: 1px solid #bfbfbf;
  border-radius: 0;
  background: #fff; }

/*------------------------------------*    #WRAP
\*------------------------------------*/
/**
 * A simple wrapper that crops all content that bleeds out of it
 * Usefull for preventing scrolling on the body.
 */
.o-wrap {
  overflow: hidden; }

/*------------------------------------*    #CONTAINER
\*------------------------------------*/
/**
 * An outer container for site content. A container should never be a child of
 * instance of it's self.
 */
.o-container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px; }
  @media (min-width: 768px) {
    .o-container {
      width: 90%; } }

/*------------------------------------*    #LIST UNSTYLED
\*------------------------------------*/
/**
 * Remove list styling from list
 */
.o-list-unstyled {
  list-style: none;
  padding: 0; }

/*------------------------------------*    #LIST INLINE
\*------------------------------------*/
/**
 * List with direct children displaying inline.
 * [1] All items except the first have padding.
 */
.o-list-inline {
  list-style: none;
  padding: 0; }
  .o-list-inline > li {
    display: inline-block;
    vertical-align: middle; }

/*------------------------------------*    #GRID
\*------------------------------------*/
/**
 * Layout row
 *
 * [1] Additional modifier classes for layout gutters.
 */
.o-grid {
  margin-right: -8px;
  margin-left: -8px; }
  .o-grid:before, .o-grid:after {
    content: ' ';
    display: table; }
  .o-grid:after {
    clear: both; }
  @media (min-width: 1024px) {
    .o-grid {
      margin-right: -15px;
      margin-left: -15px; } }

/**
 * A layout item, used like a column
 *
 * [1] Additional modifier classes for layout gutters.
 */
.o-grid__column {
  position: relative;
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
  min-height: 1px;
  float: left; }
  @media (min-width: 1024px) {
    .o-grid__column {
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Layout Columns
 */
.o-grid__column--1 {
  width: 8.33333%; }

.o-grid__column--2 {
  width: 16.66667%; }

.o-grid__column--3 {
  width: 25%; }

.o-grid__column--4 {
  width: 33.33333%; }

.o-grid__column--5 {
  width: 41.66667%; }

.o-grid__column--6 {
  width: 50%; }

.o-grid__column--7 {
  width: 58.33333%; }

.o-grid__column--8 {
  width: 66.66667%; }

.o-grid__column--9 {
  width: 75%; }

.o-grid__column--10 {
  width: 83.33333%; }

.o-grid__column--11 {
  width: 91.66667%; }

.o-grid__column--12 {
  width: 100%; }

@media (min-width: 768px) {
  .o-grid__column--1\@sm {
    width: 8.33333%; }
  .o-grid__column--2\@sm {
    width: 16.66667%; }
  .o-grid__column--3\@sm {
    width: 25%; }
  .o-grid__column--4\@sm {
    width: 33.33333%; }
  .o-grid__column--5\@sm {
    width: 41.66667%; }
  .o-grid__column--6\@sm {
    width: 50%; }
  .o-grid__column--7\@sm {
    width: 58.33333%; }
  .o-grid__column--8\@sm {
    width: 66.66667%; }
  .o-grid__column--9\@sm {
    width: 75%; }
  .o-grid__column--10\@sm {
    width: 83.33333%; }
  .o-grid__column--11\@sm {
    width: 91.66667%; }
  .o-grid__column--12\@sm {
    width: 100%; } }

@media (min-width: 1024px) {
  .o-grid__column--1\@md {
    width: 8.33333%; }
  .o-grid__column--2\@md {
    width: 16.66667%; }
  .o-grid__column--3\@md {
    width: 25%; }
  .o-grid__column--4\@md {
    width: 33.33333%; }
  .o-grid__column--5\@md {
    width: 41.66667%; }
  .o-grid__column--6\@md {
    width: 50%; }
  .o-grid__column--7\@md {
    width: 58.33333%; }
  .o-grid__column--8\@md {
    width: 66.66667%; }
  .o-grid__column--9\@md {
    width: 75%; }
  .o-grid__column--10\@md {
    width: 83.33333%; }
  .o-grid__column--11\@md {
    width: 91.66667%; }
  .o-grid__column--12\@md {
    width: 100%; } }

@media (min-width: 1200px) {
  .o-grid__column--1\@lg {
    width: 8.33333%; }
  .o-grid__column--2\@lg {
    width: 16.66667%; }
  .o-grid__column--3\@lg {
    width: 25%; }
  .o-grid__column--4\@lg {
    width: 33.33333%; }
  .o-grid__column--5\@lg {
    width: 41.66667%; }
  .o-grid__column--6\@lg {
    width: 50%; }
  .o-grid__column--7\@lg {
    width: 58.33333%; }
  .o-grid__column--8\@lg {
    width: 66.66667%; }
  .o-grid__column--9\@lg {
    width: 75%; }
  .o-grid__column--10\@lg {
    width: 83.33333%; }
  .o-grid__column--11\@lg {
    width: 91.66667%; }
  .o-grid__column--12\@lg {
    width: 100%; } }

/*------------------------------------*    #ASPECT
\*------------------------------------*/
/**
 * Enforce an aspect ratio on a responsive image before the page loads. Uses
 * the same trick as responsive videos.
 *
 * [1] Hide any access overflow of the image in case it doesn't quite fit.
 * [2] Padding 100% creates a square by default.
 * [3] Support video content
 */
.o-aspect {
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 100%;
  width: 100%;
  position: relative; }
  .o-aspect > * {
    margin: 0;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0; }
  .o-aspect > iframe,
  .o-aspect > embed,
  .o-aspect > video {
    height: 100%; }

/**
 * Loop throught the config and build out aditional sizes.
 */
.o-aspect--16x9 {
  padding-top: 56.25%; }

/*------------------------------------*    #MEDIA
\*------------------------------------*/
/**
 * A generic layout with an item floated to the side and content block that
 * doesn't wrap underneath it.
 */
.o-media:before, .o-media:after {
  content: ' ';
  display: table; }

.o-media:after {
  clear: both; }

/**
 * Side element floats left and pushes content away. Stacks on mobile.
 *
 * [1] Flip the image to the right with modifier
 */
.o-media__graphic {
  display: block; }
  @media (min-width: 480px) {
    .o-media__graphic {
      margin-right: 20px;
      float: left; } }
  @media (min-width: 480px) {
    .o-media--flip .o-media__graphic {
      margin: 0 0 0 20px;
      float: right; } }

/**
 * Content Block
 */
.o-media__content {
  overflow: hidden; }

/*------------------------------------*    #BUTTONS
\*------------------------------------*/
.c-btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.71429em 1.42857em;
  border: 0;
  color: #337ab7;
  background: #eee;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.15s; }
  .c-btn:hover, .c-btn:active, .c-btn:focus {
    background: #d5d5d5;
    text-decoration: none; }

/**
 * Modifiers for the buttons
 */
.c-btn--primary {
  background: #337ab7;
  color: #fff; }
  .c-btn--primary:hover, .c-btn--primary:active, .c-btn--primary:focus {
    background: #285f8f; }

/*------------------------------------*    #HEADINGS
\*------------------------------------*/
.c-heading-page {
  font-size: 1.57143rem; }
  @media (min-width: 768px) {
    .c-heading-page {
      font-size: 2.57143rem; } }

.c-heading-section {
  font-size: 1.42857rem; }
  @media (min-width: 768px) {
    .c-heading-section {
      font-size: 2.14286rem; } }

.c-heading-title {
  font-size: 1.28571rem; }
  @media (min-width: 768px) {
    .c-heading-title {
      font-size: 1.71429rem; } }

.c-heading-subtitle {
  font-size: 1.14286rem; }
  @media (min-width: 768px) {
    .c-heading-subtitle {
      font-size: 1.28571rem; } }

/*------------------------------------*    #NAVIGATION
\*------------------------------------*/
/**
 * Navigation list
 */
.c-nav__list:before, .c-nav__list:after {
  content: ' ';
  display: table; }

.c-nav__list:after {
  clear: both; }

/**
 * Navigation List item
 *
 * [1] Stateful 'current' version of navigation item.
 */
.c-nav__item {
  margin-right: 10px;
  float: left; }

/**
 * Navigation link
 */
.c-nav__link {
  display: block;
  color: #337ab7; }
  .c-nav__item.is-current .c-nav__link {
    text-decoration: underline; }

/*------------------------------------*    #HEADER
\*------------------------------------*/
.c-header {
  padding: 20px 0;
  margin-bottom: 20px; }

/*------------------------------------*    #FOOTER
\*------------------------------------*/
.c-footer {
  padding: 20px 0; }

/*------------------------------------*    #TEXT UTILITES
\*------------------------------------*/
/**
 * Text Alignment
 */
.u-text-center {
  text-align: center; }

/*------------------------------------*    #SPACING UTILITIES
\*------------------------------------*/
.u-spacing-flush {
  margin-bottom: 0; }

.u-spacing-close {
  margin-bottom: 10px; }

.u-spacing-normal {
  margin-bottom: 20px; }

.u-spacing-far {
  margin-bottom: 40px; }

.u-spacing-farther {
  margin-bottom: 60px; }

@media (min-width: 768px) {
  .u-spacing-flush\@sm {
    margin-bottom: 0; }
  .u-spacing-close\@sm {
    margin-bottom: 10px; }
  .u-spacing-normal\@sm {
    margin-bottom: 20px; }
  .u-spacing-far\@sm {
    margin-bottom: 40px; }
  .u-spacing-farther\@sm {
    margin-bottom: 60px; } }

@media (min-width: 1024px) {
  .u-spacing-flush\@md {
    margin-bottom: 0; }
  .u-spacing-close\@md {
    margin-bottom: 10px; }
  .u-spacing-normal\@md {
    margin-bottom: 20px; }
  .u-spacing-far\@md {
    margin-bottom: 40px; }
  .u-spacing-farther\@md {
    margin-bottom: 60px; } }

@media (min-width: 1200px) {
  .u-spacing-flush\@lg {
    margin-bottom: 0; }
  .u-spacing-close\@lg {
    margin-bottom: 10px; }
  .u-spacing-normal\@lg {
    margin-bottom: 20px; }
  .u-spacing-far\@lg {
    margin-bottom: 40px; }
  .u-spacing-farther\@lg {
    margin-bottom: 60px; } }

/*------------------------------------*    #IMAGE UTILITIES
\*------------------------------------*/
/**
 * Image's max width conforms to the parent's width.
 */
.u-img-respond {
  max-width: 100%;
  height: auto; }

/**
 * Image matches it's containers width
 */
.u-img-full {
  width: 100%;
  height: auto; }

/*------------------------------------*    #VISIBILITY UTILITIES
\*------------------------------------*/
/**
 * Visibility classes for all breakpoints
 */
.u-hidden {
  display: none; }

@media (min-width: 480px) {
  .u-hidden\@xs {
    display: none; } }

@media (min-width: 768px) {
  .u-hidden\@sm {
    display: none; } }

@media (min-width: 1024px) {
  .u-hidden\@md {
    display: none; } }

@media (min-width: 1200px) {
  .u-hidden\@lg {
    display: none; } }

@media (min-width: 1500px) {
  .u-hidden\@xl {
    display: none; } }

/**
 * Hide the entire tag and it's contents except for screen readers
 */
.u-sr-only {
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  position: absolute; }

/*------------------------------------*    #COLOR UTILITES
\*------------------------------------*/
/**
 * Color utilities to force a specific color.
 */
.u-color-link {
  color: #337ab7; }

.u-color-grey {
  color: #7f7f7f; }

/*# sourceMappingURL=global.css.map */