/* IE */
/* ===== 480px ===== */
.browser img {
  margin-top: 6%; }

.portfolio li {
  width: 49%;
  float: left;
  margin: 0 .5% 1%;
  position: relative; }

/* ===== 600px ===== */
/* iPhone 5 */
/* Overlap */
.iphone5.overlap {
  margin-left: 70%; }

/* ===== 768px ===== */
/* Typography */
h1, h2, .h1, .h2 {
  font-size: 30px;
  line-height: 32px;
  margin-top: 19px; }

h3, .h3 {
  font-size: 25px;
  line-height: 32px;
  margin-top: 19px; }

h4, .h4 {
  font-size: 20px;
  line-height: 21px; }

h5, .h5 {
  font-size: 16px;
  line-height: 21px; }

h6, .h6 {
  font-size: 14px;
  line-height: 21px; }

/* ===== Layout ===== */
.row {
  padding: 0 20px; }

/* ===== Header ===== */
#header {
  background-size: auto; }

.csstransforms #header .row {
  padding-top: 40px;
  padding-bottom: 15px; }
.csstransforms #header:before {
  top: -150px; }

/* ===== Content ===== */
#content {
  padding: 50px 0;
  width: 66%;
  margin-left: 1%;
  float: left; }

#content.right {
  padding-top: 50px;
  float: right;
  margin-left: 0; }

/* Pull Towards Top */
.pull-top {
  position: relative;
  top: -180px;
  margin-bottom: -160px; }

#main {
  padding-top: 30px; }

/* ===== Sidebar ===== */
#sidebar {
  padding-top: 15px;
  width: 33%;
  float: left;
  padding-right: 2%; }

#sidebar > :first-child {
  padding-top: 0;
  margin-top: 0; }

#sidebar.intro p {
  font-size: 16px;
  line-height: 22px; }

/* ===== Footer ===== */
#footer {
  background: none;
  margin: 50px 0 0;
  text-align: right; }

/* ===== Intro ===== */
#intro {
  font-size: 16px;
  line-height: 24px;
  float: left;
  width: 64%;
  margin-left: 3%; }

/* Image Columns */
.columns-2 .col {
  float: left;
  width: 49%;
  margin-left: 2%; }

.columns-2 .col:first-child {
  margin-left: 0; }

/* ===== Device Wrappers ===== */
/* Browser */
.browser h4 {
  display: block;
  position: absolute;
  top: 0;
  text-align: center;
  left: 0;
  width: 100%;
  font-size: 10px;
  font-family: helvetica;
  margin: 0;
  line-height: 10px; }

.portfolio li {
  width: 32%;
  float: left;
  margin: 0 .5% 1%;
  position: relative; }

.portfolio a {
  padding-bottom: 50%;
  padding-top: 0;
  height: 0; }

.portfolio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

/* Large Item */
.portfolio .large {
  width: 65%; }
  .portfolio .large a {
    padding-bottom: 50%; }
  .portfolio .large img {
    margin-bottom: -1px; }

/* Skip Next Item */
.portfolio .skip:after {
  content: '';
  display: block;
  width: 33%;
  padding-bottom: 52%;
  box-shadow: none; }

/* ===== iPhones ===== */
.iphone5.overlap {
  margin-top: -60%;
  margin-left: 68%;
  margin-right: 1%; }

/* iPhone Group */
.iphone-group {
  margin: 120px 10% 0;
  padding-bottom: 80%; }

.iphone-group .next,
.iphone-group .prev {
  top: 43%;
  display: block; }

/* ===== Preloading Images ===== */
.loader {
  margin: 200px auto; }

/* ===== 992px ===== */
#main {
  padding-top: 80px; }

/* ===== Header ===== */
/* Logo */
#header h1 {
  padding-top: 7px; }

#header h1 a {
  background-size: 55px 87px;
  width: 55px;
  height: 87px; }

#header h2 {
  padding-top: 15px; }

/* If CSS Transforms */
.csstransforms #header .row {
  padding-top: 30px;
  padding-bottom: 0; }

/* ===== Device Wrappers ===== */
/* iPhone Group */
.iphone-group {
  margin: 0 10%; }
