/*   
Author: Andrew Hipp
Site URL: http://www.andrewhipp.com
Author URL: http://www.andrewhipp.com
Version: 1.5
*/

.window-size {
	background:url(../../bg-green-fragments.jpg);
	background-size:cover;
}

#main {
	padding:0;
}

.bg-white {
	background:#fff;
}
.bg-bw {
	background:#fff url(../../bg-fragments.jpg) top center no-repeat;
	background-size:contain;
}