/*------------------------------------*\
    #LINE BOARD
\*------------------------------------*/

.c-line-board {
    position: relative;
}

.c-line-board__canvas {
    background: $gradient;
    background-size: 200vw 100%;
    display: block;
    width: 110%;
    height: 100%;
    position: absolute;
    bottom: 0;
    backface-visibility: hidden;

    @include media('sm') {
        background-size: 100% 100%;
    }

}
