{% include header.html %}

<main id="main" role="main">
    <div class="o-container">

        {{ content }}

        <ul class="o-list-unstyled o-portfolio">
            <li class="o-portfolio__item o-portfolio__item--large">
                <a href="" class="">
                    <article class="c-card">
                        <img src="http://www.placehold.it/650x325" alt="" class="c-card__img">
                        <header></header>
                    </article>
                </a>
            </li>
            <li class="o-portfolio__item">
                <a href="" class="">
                    <article class="c-card">
                        <img src="http://www.placehold.it/320x160" alt="" class="c-card__img">
                        <header></header>
                    </article>
                </a>
            </li>
            <li class="o-portfolio__item">
                <a href="" class="">
                    <article class="c-card">
                        <img src="http://www.placehold.it/320x160" alt="" class="c-card__img">
                        <header></header>
                    </article>
                </a>
            </li>
            <li class="o-portfolio__item">
                <a href="" class="">
                    <article class="c-card">
                        <img src="http://www.placehold.it/320x160" alt="" class="c-card__img">
                        <header></header>
                    </article>
                </a>
            </li>
            <li class="o-portfolio__item">
                <a href="" class="">
                    <article class="c-card">
                        <img src="http://www.placehold.it/320x160" alt="" class="c-card__img">
                        <header></header>
                    </article>
                </a>
            </li>
            <li class="o-portfolio__item">
                <a href="" class="">
                    <article class="c-card">
                        <img src="http://www.placehold.it/320x160" alt="" class="c-card__img">
                        <header></header>
                    </article>
                </a>
            </li>
            <li class="o-portfolio__item o-portfolio__item--large">
                <a href="" class="">
                    <article class="c-card">
                        <img src="http://www.placehold.it/650x325" alt="" class="c-card__img">
                        <header></header>
                    </article>
                </a>
            </li>
        </ul>

    </div>
</main>

{% include footer.html %}
